*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #eeebe2;
    font-family: arial;
}

header{
  display: flex;
  position: fixed;
  min-width: 100%;
  max-height: 200px;
  background-color: #f6ded5;
  z-index: 2;
}

.logo{
  max-width: 500px;
  max-height: 200px;
  margin: 10px;
}

header > .logo > a > .meraki{
  max-height: 100%;
  max-width: 100%;
}

header > .language{
  width: 100%;
  max-height: 100%;
}

header > .language > .title{
  min-width: 100%;
  margin-top: 60px;
}

header > .language > .title > .text > h4{
  font-size: 100px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  font-weight: bold;
  color: #422C2B;
  animation: pulse 0.8s infinite;
  transition: 0.7s;
}

header > .language > .title > .text{
  text-decoration: none;
}

@media screen and (max-width: 1000px){
  header > .language > .title > .text>  h4{
      font-size: 70px;
  }
}

@media screen and (max-width: 800px){
  header > .language > .title > .text > h4{
      font-size: 40px;
  }
}

@media screen and (max-width: 650px){
  header > .language > .title > .text > h4{
      font-size: 30px;
  }
}

@keyframes pulse {
    from {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
      color:#422C2B;
    }
  
    50% {
      -webkit-transform: scale3d(1.05, 1.05, 1.05);
      transform: scale3d(1.05, 1.05, 1.05);
    }
  
    to {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
      color: #624a4a;
    }
  }

header > .language > .armenia{
  display: grid;
  grid-template-columns: 50px 50px 50px;
  padding-top: 10px;
  height: 50px;
  float: right;
  font-size: 10px;
}
  
header > .language > .armenia > .a > .armflag{
  height: 20px;
  width: 40px;
}

header > .language > .armenia > .r > .rusflag{
  height: 20px;
  width: 40px;
}

header > .language > .armenia > .e > .engflag{
  height: 20px;
  width: 40px;
}

header > .language > .armenia > .a > .armtext:hover{
  color: red;
}

header > .language > .armenia > .r > .rustext:hover{
  color: red;
}

header > .language > .armenia > .e > .engtext:hover{
  color: red;
}

nav > .menu{
  position: fixed;
  min-width: 100%;
  background: #d2a297;
  height: 50px;
  padding-top: 200px;
}

nav > .menu > ul{
  display: flex;
  justify-content: center;
}

nav > .menu > ul > li{
  margin-top: 15px;
  margin-left: 30px;
  list-style-type: none;
}

nav > .menu > ul > li > a{
  text-decoration: none;
}

nav > .menu > ul > li > a > p{
  font-size: 20px;
  color: white;
}

nav > .menu > ul > li > a > p:hover{
  color: #422C2B;
}

@media screen and (max-width: 800px){
  nav > .menu > ul > li > a > p{
    font-size: 15px;
  }
}

@media screen and (max-width: 650px){
  nav > .menu > ul > li > a > p{
    font-size: 10px;
  }
}

aside > .aside1{
  float: left;
  padding-top: 250px;
  padding-bottom: 25px;
  width: 29%;
  height: 600px;
  background: scroll;
  background-color: white;
  overflow-x: hidden;
}

aside > .aside1 > .info > h4 {
  font-size: 30px;
  text-align: center;
  margin-top: 20px;
  color:#422C2B;
  animation: backInLeft 0.7s;
  transition: 0.7s;
}

@-webkit-keyframes backInLeft {
  0% {
    -webkit-transform: translateX(-2000px) scale(0.7);
    transform: translateX(-2000px) scale(0.7);
    opacity: 0.7;
  }

  80% {
    -webkit-transform: translateX(0px) scale(0.7);
    transform: translateX(0px) scale(0.7);
    opacity: 0.7;
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}

aside > .aside1 > .info > p {
  font-size: 20px;
  text-align: justify;
  text-indent: 25px;
  color:rgba(31, 31, 31, 0.881);
  margin: 15px 10px 0 10px;
}

.main {
  display: grid;
  grid-template-columns: 400px 400px;
  grid-template-rows: 250px;
  padding-top: 250px;
  float: right;
  width: 70%;
  height: 600px;
}

.main > .pic1{
  margin: 10px 50px 0 150px;
  width: 200px;
  height: 200px;
  background-color: #f6ded5;
  border-radius: 10px;
  border: 1px solid #422C2B;
}

.main > .pic1 > img{
  height: 100px;
  width: 100px;
  margin: 5px 50px;
}

.main > .pic1 > .choose1 > h5{
  font-size: 18px;
  text-align: center;
}

.main > .pic1 > .choose1{
  padding-top: 20px;
  padding-left: 5px;
}

.main > .pic1 > .choose1 > label{
  font-size: 12px;
  text-align: justify;
}

.main > .pic2{
  margin: 10px 50px 0 150px;
  width: 200px;
  height: 200px;
  background-color: #f6ded5;
  border-radius: 10px;
  border: 1px solid #422C2B;
}

.main > .pic2 > img{
  height: 100px;
  width: 100px;
  margin: 5px 50px;
}

.main > .pic2 > .choose2 > h5{
  font-size: 18px;
  text-align: center;
}

.main > .pic2 > .choose2{
  padding-top: 20px;
  padding-left: 5px;
}

.main > .pic2 > .choose2 > label{
  font-size: 12px;
  text-align: justify;
}

.main > .pic3{
  margin: 0 50px 0 150px;
  width: 200px;
  height: 200px;
  background-color: #f6ded5;
  border-radius: 10px;
  border: 1px solid #422C2B;
}

.main > .pic3 > img{
  height: 100px;
  width: 100px;
  margin: 5px 50px;
}

.main > .pic3 > .choose3 > h5{
  font-size: 18px;
  text-align: center;
}

.main > .pic3 > .choose3{
  padding-top: 20px;
  padding-left: 5px;
}

.main > .pic3 > .choose3 > label{
  font-size: 12px;
  text-align: justify;
}

.main > .pic4{
  margin: 0 50px 0 150px;
  width: 200px;
  height: 200px;
  background-color: #f6ded5;
  border-radius: 10px;
  border: 1px solid #422C2B;
}

.main > .pic4 > img{
  height: 100px;
  width: 100px;
  margin: 5px 50px;
}

.main > .pic4 > .choose4 > h5{
  font-size: 18px;
  text-align: center;
}

.main > .pic4 > .choose4{
  padding-top: 20px;
  padding-left: 5px;
}

.main > .pic4 > .choose4 > label{
  font-size: 12px;
  text-align: justify;
}

.main > .pic1 > img:hover{
  transform: scale(1.1);
}

.main > .pic2 > img:hover{
  transform: scale(1.1);
}

.main > .pic3 > img:hover{
  transform: scale(1.1);
}

.main > .pic4 > img:hover{
  transform: scale(1.1);
}

.main > input{
  width: 150px;
  height: 40px;
  border-radius: 5px;
  border: 2px solid #422C2B;
  background-color: #f6ded5;
  margin-left: 375px;
  text-align: center;
  font-size: 20px;
}

.main > input:hover{
    background-color: white;
    color: black;
  cursor: pointer;
}

.clear{
  clear: both;
}

footer{
  display: flex;
  min-width: 100%;
  max-height: 300px;
  background-color: #f6ded5;
}

footer > a > img{
  max-height: 500px;
  max-width: 200px;
  margin-top: 25px;
  margin-left: 50px;
}

footer > .social{
  width: 400px;
  height: 100%;
  margin-top: 25px;
  margin-left: 200px;
  margin-right: 100px;
}

footer > .social > h4{
  font-size: 20px;
  color: #422C2B;
  text-indent: 15px;
}

footer > .social > ul{
  padding-top: 20px;
}

footer > .social > ul > li{
  list-style-position: inside;
}

footer > .social > ul > li > a{
  text-decoration: none;
  color: black;
}

footer > .social > ul > li > a:hover{
  color: rgb(65, 63, 63);
}

footer > .contact{
  width: 400px;
  height: 100%;
  margin-top: 25px;
}

footer > .contact > h4{
  font-size: 20px;
  color: #422C2B;
  text-indent: 15px;
  
}

footer > .contact > ul{
  padding-top: 20px;
}

footer > .contact > ul > li{
  list-style-position: inside;
 }

footer > .contact > ul > li> a{
  text-decoration: none;
  color: black;
}

footer > .contact > ul > li > a:hover{
  color: rgb(65, 63, 63);
}